[submodule "webcomponentsjsV1"]
	path = webcomponentsjsV1
	url = git@github.com:webcomponents/webcomponentsjs.git
[submodule "webcomponentsV1"]
	path = webcomponentsV1
	url = git@github.com:Nitin-Prabhakar/webcomponentsjs.git
