[submodule "webcomponentsjsV1"]
	path = webcomponentsjsV1
	url = git@github.com:webcomponents/webcomponentsjs.git
[submodule "custom-elements"]
	path = custom-elements
	url = git@github.com:webcomponents/custom-elements.git
