<template id="my-special-div">
  <style>
    #main{
      border:1px dotted;
      margin:48px;
      background-color: whitesmoke;
      font-family: monospace , georgia , arial , sans-serif;
      padding: 48px;
    }
    p{
      color: red;
    }
    ::content p{
      color:violet;
    }
  </style>
  <script>
  </script>
  <div id="main">
    <h1>I am a template used to construct a custom element.</h1>
    <h2>I come with scoped styles and scripts</h2>
    <content></content>
    <p>I am styled in scope. my style doesn't bleed out</p>
  </div>
</template>
